html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--platinum);
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  text-align: justify;
}

/* CSS HSL */
:root {
  /* CSS HSL */

  --black: hsla(0, 0%, 0%, 1);
  --blue: hsla(221, 51%, 16%, 1);
  --orange: hsla(37, 98%, 53%, 1);
  --platinum: hsla(0, 0%, 90%, 1);
  --white: hsla(0, 0%, 100%, 1);

  /* SPACING */
  --x-small: 2px;
  --small: 4px;
  --medium: 8px;
  --large: 16px;
  --x-large: 32px;
}
