.container {
  width: 80%;
  margin: 0 auto;
}

.recentPostContainer {
  display: flex;
  align-items: flex-start;
}

.recentPostSummaryContainer {
  max-width: 400px;
  margin: 16px;
}

.recentPostImage {
  border-radius: 5px;
}

.postCardsRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
